@media (max-width: 600px) {
    .genre-container {
        grid-template-columns: 1fr;
    }

    .track-container {
        flex-direction: column;
    }

    .track {
        flex: 1 1 100%;
    }

    @media (max-width: 768px) {
        .home-container {
            flex-direction: column;
        }

        .genres-filter,
        .tracks-list {
            width: 100%;
        }
    }
}
